.subject-list {
    display: flex;
    flex-wrap: wrap;
}

.subject-block {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.subject-block:hover {
    background-color: #e0e0e0;
}