.lesson-tab {
    display: inline-block;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-right: .5em;
    cursor: pointer;
    font-size: 12px;
}

.lesson-tab.active, .lesson-tab:hover {
    background-color: #e0e0e0;
}

.lesson-list {
    display: none;
    margin-top: 1em;
}

.lesson-list.active {
    display: block;
}

.lesson-item {
    display: block;
    padding: 1em;
    font-size: 12px;
    text-decoration: none;
    color: #000;
    background-color: #fcfcfc;
}

.lesson-tab,
.lesson-item {
    transition: all 0.3s;
    margin-bottom: .5em;
}

.lesson-item:hover {
    background-color: #f1f1f1;
}

.lesson-tab.active,
.lesson-tab:hover {
    background-color: #e0e0e0;
}