.pro-title {
    color: #666;
    --back-color:#aaa;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    z-index:2;
}

.pro-title:before {
    content: "Available Subjects";
    position: absolute;
    color: var(--back-color);
    transform: scaleY(0.9) skew(50deg);
    transform-origin: center 78%;
    z-index: -1;
    -webkit-mask-image: -webkit-linear-gradient(transparent, var(--back-color));
    animation: sunrise 5s infinite linear alternate;
}

.subject-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.subject-block {
    font-weight: bold;
}

.subject-desc{
    font-size: 11px;
    margin-left: 1em;
    font-style: italic;
    color: #666;
    font-weight: normal;
}


@keyframes sunrise {
    0% {
        transform: scaleY(0.9) skew(50deg);
    }
    100% {
        transform: scaleY(0.9) skew(-50deg);
    }
}